# Virtual environment
venv/
env/
vevn/

# Python compiled files
__pycache__/
*.py[cod]

# Django logs
logs/
*.log

# Database files
*.sqlite3

 

# Static and media files
staticfiles/
media/

# Migrations (optional: keep if you want to track them)
**/migrations/*.py
!**/migrations/__init__.py

# IDE & OS-specific files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
